#root {
  background: whitesmoke;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/Main_background.jpg');
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel Decorative", cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-select-item-option:hover {
  background-color: #38a6e7 !important;
  color: white;
}

.ant-select-item-option-active,
.ant-select-item-option-selected {
  background-color: #38a6e7 !important;
  color: white;
}

.ant-form-item:focus-within .ant-select-multiple .ant-select-selector,
.ant-form-item:focus-within
  .ant-select:not(.ant-select-multiple)
  .ant-select-selector {
  border: 1px solid #38a6e7 !important;
  box-shadow: 0 0 5px rgba(24, 144, 255, 0.5) !important;
  outline: none !important;
}

.ant-form-item:hover .ant-select-multiple .ant-select-selector,
.ant-form-item:hover
  .ant-select:not(.ant-select-multiple)
  .ant-select-selector {
  border: 1px solid #38a6e7 !important;
  box-shadow: 0 0 5px rgba(24, 144, 255, 0.5) !important;
  outline: none !important;
}

.ant-select-selection-search-input:focus,
.ant-select-selection-search-input:hover {
  border: 1px solid transparent !important;
  box-shadow: 0 0 5px transparent !important;
  outline: none !important;
}

.ant-table-thead > tr > th {
  margin: 0;
  margin-bottom: 2%;
  font-weight:default !important;
  text-align: center !important;
  color: whitesmoke !important;
  font-size: 1.2rem;
  background-color: #0e0b2c !important;
}

.ant-table-tbody {
  font-size: 1rem;
}

.ant-table-column-sorter-inner {
  color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Nav */

.nav {
  overflow-x: hidden;
  position: fixed;
  z-index: 1;

}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  background-image: url('/src/assets/Nav_Bar_Background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #263043;
  /* padding: 35px 0px; */
  padding: 1px 10rem;
  overflow-x: hidden;
  position: fixed;
  z-index: 2;
}

.menu {
  display: flex;
  font-size: clamp(0.8rem, 1.3vw, 1.9rem);
  justify-content: center;
  align-items: center;
}

.menu li a {
  margin: 0px 4px;
  padding: 5px 10px;
  color: whitesmoke;
  position: relative;
  transition: all ease 0.3s;
  text-shadow: 6px 1px 2px rgba(0, 0, 0, 1);
}

.menu li a::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: #1600c5;
  transition: all ease 0.3s;
}

.menu li a:hover::after,
.menu li a.active::after {
  width: 30%;
}

.menu li a:hover,
.menu li a.active:hover {
  color: #ff6347;
  font-weight: bolder;
  text-shadow: none;
}

.logo {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  color: whitesmoke;
  text-shadow: 6px 1px 2px rgba(0, 0, 0, 12);
  font-weight: bolder;
}

.logo:hover {
  color: whitesmoke;
}

.logo img {
  width: clamp(1rem, 4rem, 5rem);
  height: clamp(1rem, 3rem, 5rem);
  margin-right: 5px;
  border-radius: 8px; /* Adds a rounded corner to the image */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* .logo img:hover {
  transform: scale(2);
} */

.book-now-btn {
  color: black;
  background: linear-gradient(to right, #ffd700, #ff6347);
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  width: clamp(7rem, 15vw, 10rem);
  height: 45px;
  text-transform: uppercase;
  display: flex;
  border: transparent;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  border-radius: 5px;
  transition: all ease 0.3s;
}

.book-now-btn:hover {
  transform: scale(1.2);
}

#main {
  max-width: 1400px;
  width: 90%;
  margin: 50px auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-img {
  width: clamp(10rem, 500px, 40rem);
  height: clamp(10rem, 500px, 35rem);
  border-radius: clamp(1rem, 500px, 35rem);
  background: linear-gradient(135deg, #3494e6, #ec6ead);
  overflow: hidden; /* Ensure the overflow is hidden to round the edges */
  position: relative; /* Create a stacking context for absolute positioning */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

@media screen and (max-width: 600px) {
  .main-img {
    display: none;
  }
  .menu {
    display: none;
  }
}

.main-img:hover {
  transform: scale(1.3); /* Enlarge the image on hover for a subtle effect */
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out; /* Add the same transition for the image */
}

.main-img:hover img {
  transform: scale(1.4); /* Enlarge the image on hover for a subtle effect */
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 700px;
  width: 100%;
}

.main-content strong {
  color: black;
  font-size: 1.3rem;
  background-color: #1ee8e89a;
  height: 50px;
  padding: 0px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-text h1 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 4.3rem;
  font-weight: bolder;
  margin: 15px 0px;
  /* color: #3494e6; */
  color: white;
  text-shadow: 6px 1px 2px rgba(0, 0, 0, 0.15);
}

.main-text p {
  color: #1ee8e8;
  font-size: large;
}

.main-text a {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  color: black;
  font-weight: 900 !important;
  border-radius: 10px;
  font-weight: 900;
  font-size: 1.2rem;
  background: linear-gradient(135deg, #3494e6, #ec6ead);
  transition: all ease 0.3s;
}

.main-text a:hover {
  color: whitesmoke;
  transform: scale(1.2);
}

.lottie-flight {
  position: fixed;
  /* width: clamp(30vw, 10vw, 150px); */
  height: 100vh; /* Adjust the height as needed */
  z-index: 1; /* Ensure it's above other elements */
}

@media (max-width: 1600px) {
  .lottie-flight.left,
  .lottie-flight.right {
    display: block; /* Show the animations when screen width is 1600 pixels or more */
    height: 90%;
  }

  .lottie-flight.left {
    top: 0;
    left: 0;
    transform: rotate(-90deg) translateY(-0%);
  }

  .lottie-flight.right {
    top: 0;
    right: 0;
    transform: rotate(90deg) translateY(-10%);
  }
}

@media (max-width: 1500px) {
  .lottie-flight.left,
  .lottie-flight.right {
    display: none; /* Hide the animations when screen width is less than 1600 pixels */
  }
}

.lottie-flight.left {
  top: 0;
  left: 0;
  transform: rotate(-90deg) translateY(-35%); /* Adjust translateY as needed */
}

.lottie-flight.right {
  top: 0;
  right: 0;
  transform: rotate(90deg) translateY(-35%); /* Adjust translateY as needed */
}

/* PADD */

.padd {
  margin-top: 12rem;
}

/* TRENDING */

#trending {
  /* background-color: papayawhip; */
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('/src/assets/Main_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 50px 0px;
}

#reviews {
  /* background-color: papayawhip; */
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('/src/assets/Main_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 50px 0px;
}

.trending-heading {
  max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.trending-heading h2,
.destination-heading h2 {
  font-size: 2.6rem;
  /* color: rgb(45, 7, 61); */
  margin-top: 5vh;
  color: white;
  font-weight: bolder;
}

.trending-heading p,
.destination-heading p {
  font-size: 1.5rem;
  color: lightcoral;
  font-weight: bold;
  margin: 10px 0px;
}

.trending-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin-top: 40px;
  /* transition: all ease 0.3S; */
}

/* .trending-box-container:hover {
transform: scale(1.1);
} */

.trending-box {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid rgba(29, 29, 29, 0.01);
  transition: all ease 0.3s;
  margin-bottom: 60px;
}

.trending-box:hover {
  transform: scale(1.05);
  box-shadow: 8px 20px 30px rgba(0, 0, 0, 0.3);
}

.t-b-img {
  width: 100%;
  min-height: 100%;
  /* max-height: 190px; */
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.t-b-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.t-b-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1.2em 0px;
}

.t-b-text a {
  color: #ff6347;
  font-weight: bolder;
  font-size: 1.2rem;
}

.t-b-text span {
  color: #eb1f66;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.price-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.t-price {
  font-size: 1.5rem;
  color: rgb(45, 7, 61);
  font-weight: 800;
  letter-spacing: 1px;
}

.t-book {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff6347;
  color: darkorange;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all ease 0.3s;
}

.t-book:hover {
  color: whitesmoke;
  background-color: #ff6347;
  transform: scale(1.2);
}

.agency-name {
  background-color: #f1efff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  margin-top: 15px;
}

.agency-name img {
  width: 2.2rem;
  height: 2.2rem;
  font-weight: bolder;
  /* border-radius: 50%; */
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}

.agency-name span {
  color: #121435;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

/* DESTINATION */
#destination {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 70px auto;
}

.destination-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.destination-box {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.3s;
}

.destination-box:hover {
  transform: scale(1.05);
  box-shadow: 8px 20px 30px rgba(0, 0, 0, 0.3);
}
.destination-box img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  object-position: center;
}

.d-b-text-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.06) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.d-b-text-container .ratio {
  background-color: whitesmoke;
  color: #121435;
  border-radius: 10px;
  width: 50px;
  height: 25px;
  font-size: 0.9rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.d-b-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.d-b-text strong {
  color: whitesmoke;
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.d-b-text span {
  color: #ffd700;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.destination-grid {
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1.3fr 0.7fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin: 40px 0px;
}

.d-b-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.d-b-3 {
  grid-column: 3/5;
  /* OR */
  /* grid-column-start: 3;
  grid-column-end: 5; */
}

.login-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-width: 100%;
}

.login-lottie-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login-form-container {
  position: absolute;
  top: 20%;
  left: 60%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 24px;
  border-radius: 1.5rem;
  max-width: 30vw; /* Adjust the maximum width as needed */
  width: 80%; /* Adjust the width as needed */
  text-align: center; /* Center the content within the form container */
  box-shadow: 1.5rem 1.5rem 0.9rem rgba(0, 0, 0, 0.6); /* Add a subtle box shadow */
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(100vw);
}

.login-form-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.InputBox:focus {
  border: 1px solid #38a6e7 !important;
  box-shadow: 0 0 5px rgba(24, 144, 255, 0.5) !important;
  outline: none;
}

.InputBox:hover {
  border: 1px solid #38a6e7 !important;
  box-shadow: 0 0 5px rgba(24, 144, 255, 0.5) !important;
  outline: none;
}

.login-button {
  display: inline-block;
  font-size: 1.5rem;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out,
    box-shadow 0.3s;
  background-image: linear-gradient(to right, #ff5e62, #ff9966);
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
  background-image: linear-gradient(to right, #ff4e50, #ff6e52) !important;
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
}

.login-button:active {
  background-image: linear-gradient(to right, #ff3e4e, #ff5e50) !important;
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.light-label {
  text-align: center;
  color: grey;
  font-size: 20px;
  margin: 0;
}

.dark-label {
  text-align: center;
  margin-top: 0;
  color: #07273a;
  font-size: clamp(1rem, 25px, 1.5rem);
  font-weight: 800;
}

.sign-up {
  position: absolute;
  top: 12%;
  left: 42%;
  display: flex;
  flex-direction: column;
  text-align: center !important;
  cursor: default;
}

.sign-up-card {
  position: absolute;
  top: 800%;
  left: 70%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: rgba(238, 204, 204, 0.4);  
  padding: 40px;
  border-radius: 1.5rem;
  width: 60vw;
  height: 80vh;
  text-align: center;
  box-shadow: 0.4rem 0.2rem 1rem rgba(108, 192, 244, 0.5);
  z-index: 2;
  transition: box-shadow 0.3s ease;
}

.sign-up-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.sign-up-item {
  font-size: 1.1rem;
  color: rgb(169, 242, 241);
  font-family: -apple-system; 
  font-weight: 900
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 12px 12px 5px -3px rgba(0, 0, 0, 0.35);
}

.profile-actions-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 100% !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: "Montserrat", sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
  background-image: url('/src/assets/Dashboard_Background.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('/src/assets/Dashboard_nav.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: rgba(3, 3, 22, 0.8);
  overflow-y: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: whitesmoke !important;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none !important;
  color: whitesmoke !important;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

/* End Sidebar  */

/* Main  */
.postlogin-background {
  /* background-image: url('/src/assets/Dashboard_Background.jpg'); */
  background: rgba(2, 3, 19, 0.5);
}

.dashboard-home {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  background: transparent;
}

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 1);
}

.main-title {
  display: flex;
  justify-content: center;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
  margin-left: 10px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}



.admin-login-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-width: 100%;
  background-image: url('/src/assets/Admin_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.admin-login-form-container {
  background-image: url('/src/assets/Admin_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 25%;
  left: 35%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5) !important;
  padding: 24px;
  border-radius: 1.5rem;
  max-width: 30vw; /* Adjust the maximum width as needed */
  width: 80%; /* Adjust the width as needed */
  text-align: center; /* Center the content within the form container */
  box-shadow: 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.2); /* Add a subtle box shadow */
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(100vw);
}

.admin-login-form-container:hover {
  box-shadow: 0 8px 2rem rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
}


.simple {
  display: flex !important;
  justify-content: center !important;
  left: 40vw !important;
  top: 10vh;
}

.hover-button {
  background-color: white;
  border-color: #1E2671 !important;
  color: #1E2671;
  border: 2px solid #38a6e7;
  text-align: center;
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.hover-button:hover {
  border-color: #38a6e7 !important;
  color: whitesmoke !important;
  background-color: #38a6e7;
}